.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #c60d0d;
    color: rgba(255, 255, 255, 0.721);
  }
  .nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
  }
  .nav-links a:hover {
    text-decoration: underline;
  }

  .cool-header-bg {
    background-color: #7281b9; /* or your chosen color */
  }
  .header-gradient {
    background: linear-gradient(135deg, #3a3f51, #b3560f);
  }

  .cool-box-bg {
    background-color: #999ba2; /* or your chosen color */
  }
  
  
  
  