.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #c60d0d;
    color: rgba(255, 255, 255, 0.721);
  }
  .nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
  }
  .nav-links a:hover {
    text-decoration: underline;
  }
  